{% extends 'base.html' %}

{% block content %}
<header>
  <p style="display:none">{% block title %} GymPoint | Recepcionistas {% endblock %}</p>
  <h1>Gerenciando recepcionistas</h1>
  <aside>
    <a href="/create-receptionist">
      <span class="material-icons" style="color:#FFF; font-size:20px;">
        add
      </span>
      Cadastrar
    </a>
    <input
      type="text"
      placeholder="Buscar recepcionista"
    />
  </aside>
</header>

<table cellSpacing="0" class="list">
  <thead>
    <tr>
      <th>NOME</th>
      <th>E-MAIL</th>
      <th id="center">ATENDIMENTO</th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {% for receptionist in receptionists %}
      <tr>
        <td>{{ receptionist['name'] }}</td>
        <td>{{ receptionist['email'] }}</td>
        <td id="center">
          {{ receptionist['service_days'] }}
          <br />
          {{ formatHours(receptionist['hour_start'], receptionist['hour_end']) }}
        </td>
        <td id="update">
          <a href="#" id="update">
            editar
          </a>
        </td>
        <td id="delete">
          <button type="button" id="delete">
            apagar
          </button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}