{% extends 'base.html' %}

{% block content %}
<header>
  <p style="display:none">{% block title %} GymPoint | Alunos {% endblock %}</p>
  <h1>Gerenciando alunos</h1>
  <aside>
    <a href="/create-student">
      <span class="material-icons" style="color:#FFF; font-size:20px;">
        add
      </span>
      Cadastrar
    </a>
    <input
      type="text"
      placeholder="Buscar aluno"
    />
  </aside>
</header>

<table cellSpacing="0" class="list">
  <thead>
    <tr>
      <th>NOME</th>
      <th>E-MAIL</th>
      <th>CPF</th>
      <th id="center">IDADE</th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
      <tr>
        <td>{{ student['name'] }}</td>
        <td>{{ student['email'] }}</td>
        <td>{{ student['CPF'] }}</td>
        <td id="center">{{ getAge(student['birth_date']) }}</td>
        <td id="update">
          <a href="#" id="update">
            editar
          </a>
        </td>
        <td id="delete">
          <a href="/delete-student/{{ student['id'] }}"
             type="button" id="delete" 
             onclick="return confirm('Tem certeza de que quer excluir este aluno?')">
            apagar
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}