.wrapper {
  display: flex;
  flex: 1;
  height: calc(100% - 64px);
  background: #f5f5f5;
  padding: 30px;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content header {
  width: 100%;
  min-width: 750px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content header h1 {
  font-size: 24px;
  color: #444444;
}
.content header aside {
  display: flex;
  align-items: center;
}
.content header a {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: #ee4d64;
  padding: 8px 16px;
  color: #fff;
  text-transform: uppercase;
  transition: background 0.2s;
}
.content header a span {
  margin-right: 8px;
}
.content header a:hover {
  background: #bd3232;
}
.content header #back {
  background: #ccc;
}
.content header #back:hover {
  background: #a1a1a1;
}
.content header button {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 4px;
  background: #ee4d64;
  padding: 8px 16px;
  color: #fff;
  text-transform: uppercase;
  transition: background 0.2s;
  margin-left: 16px;
}
.content header button span {
  margin-right: 8px;
}
.content header button:hover {
  background: #bd3232;
}
.content header input {
  font-size: 14px;
  min-width: 230px;
  margin: 0;
  margin-left: 16px;
}