{% extends 'base.html' %}

{% block content %}
<header>
  <p style="display:none">{% block title %} GymPoint | Planos {% endblock %}</p>
  <h1>Gerenciando planos</h1>
  <aside>
    <a href="/create-plan">
      <span class="material-icons" style="color:#FFF; font-size:20px;">
        add
      </span>
      Cadastrar
    </a>
  </aside>
</header>

<table cellSpacing="0" class="list">
  <thead>
    <tr>
      <th>TÍTULO</th>
      <th id="center">DURAÇÃO</th>
      <th id="center">VALOR p/ MÊS</th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {% for plan in plans %}
      <tr>
        <td>{{ plan['title'] }}</td>
        <td id="center">{{ plan['duration'] }} {{ (' Meses' if plan['duration'] != 1 else ' Mês') }}</td>
        <td id="center">{{ formatPrice(plan['price']) }}</td>
        <td id="update">
          <a href="/edit-plan/{{ plan['id'] }}" id="update">
            editar
          </a>
        </td>
        <td id="delete">
          <a href="/delete-plan/{{ plan['id'] }}"
             type="button" id="delete" 
             onclick="return confirm('Tem certeza de que quer deletar este plano?')">
            apagar
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}